body 
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size:14px; 
}

fieldset
{
border: 1px solid #507CD1;
width: 20em
}

input
{
color: #000000;
background: #EFF3FB;
border: 1px solid #507CD1;
}
check
{
    
color: #000000;
background: #000000;
border: 1px solid #000000;
}

legend
{
color: #000000;
background: #EFF3FB;
border: 1px solid #507CD1;
padding: 2px 6px
} 

.legend2
{
color: #000000;
background: #FFFFFF;
padding: 2px 6px
} 